name: Build and test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Hatch
        run: pipx install hatch
      #- name: Run tests
      #  run: hatch run test:test
      - name: Build dist
        run: hatch build
